*{
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  background-color: #000;
}
body{
  display: flex;
}
section{
  width: 100%;
  margin: auto;
  /*镜像*/
  -webkit-box-reflect:below 1px linear-gradient(transparent,#0004);
  animation: anima2 1.5s ease-in-out  infinite;
  transform:rotate(-30deg);

}
@keyframes anima2 {
  0%{
    transform:rotate(-30deg) translateX(0px);
  }
  100%{
    transform: rotate(-30deg) translateX(-400px);
  }
}
section div{
  margin: auto;
  background-color: #03e9f4;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f470,
              0 0 150px #03e9f450,
              0 0 250px #03e9f450,
              0 0 350px #03e9f450;
  animation: anima 1.5s ease-in-out infinite;
  transform-origin:right bottom;


}
/*抖两下,停顿一下*/
@keyframes anima {
  0%{
    transform: rotate(0deg);
  }
  65%{
    transform: rotate(85deg);
  }
  75%{
    transform: rotate(88deg);
  }
  60%,70%,80%,100%{
    transform: rotate(90deg);
  }
}
